<p>{{footer.newsletter}}</p>
<form action="#">
    <div class="form-group">
        <label for="email">{{footer.email-address}}</label>
        <input type="text" class="form-control" name="email" value=""">
    </div>
    <button type="submit" class="btn btn-success">{{footer.email-btn}}</button>
</form>
